body {
	text-align: center;
	background-color: black;
	
}

.content {
	background-color: #e3e3e3;
	width: 138px;
	height: 138px;
	border-radius: 10px;
	vertical-align: middle;
	opacity: 0.5;
	margin-left:1px;
}

.space {
	width: 156px;
	height: 150px;
	display: inline-block;
	margin: -2px;
	border-left: none;
	border-bottom none;
	box-sizing: border-box;
	padding: 4px;
}

.red {
	background-color: red;
	opacity: 1;
}

.white {
	background-color: white;
	opacity: 1;
}


.mobile-mode {
	display: none;
}

.game-board {
	width: 460px;	
	background: url('../images/sf.png');	
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.playing-field {	
	background-repeat: no-repeat;
	box-sizing: border box;
	margin: auto;
}

.player {
	font-size: 20px;
	margin: 0;
}

.header {
	display: inline-block;
}

h1 {
	font-size: 65px;
	margin: 1px 0px 1px 0px;
	color: black;
}

#p1 {
	color: red;
}

#p2 {
	color: red;
}

.character {
	height: 96px;
	width: 93px;
}



#left-char {
	background: url('../images/ryu.png');
	opacity: 1;
	height: 96px;
	width: 90px;
}

#right-char {
	background: url('../images/ken.png');
	opacity: 1;
	height: 96px;
	width: 93px;
}

.divider {
	display: inline-block;
	vertical-align: bottom;
	margin-top: 80px;
}

.animate {
	 -webkit-animation: stand steps(8) 1.2s
}

@-webkit-keyframes stand {
	from { background-position-x: 0px; }
	to { background-position-x: -757px; }
}

.animate-hide {
	  -webkit-transition:all linear 0.5s;
	  transition:all linear 0.5s;
	  margin: auto;
	  opacity:1;
		  	      
}

.animate-hide.ng-hide {
	  line-height:0;
	  opacity:0;
	  padding:0 10px;
}

.winPrompt {
	position: absolute;
	height; 250px;
	width: 250px;
	background-color: red;
	z-index: 10;
}

.mainboard {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 1080px) {
	.space {
		width: 80px;
		height: 80px;		
		display: inline-block;
		margin: -2px;
        	box-sizing: border-box;
        	padding: 2px;
	}
	
	.content {
		width: 70px;
		height: 73px;
		background-color: #e3e3e3;	
	}

	.game-board {
		width: 250px;	
		background: url('../images/sf.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 90%;
	}	

	.player {
		display: none;
	}
	
	.mobile-mode {
		display: block;
	}

	.mobile-players {
		font-size: 20px;
	}
	
	#mobile-p1 {
		color: red;
		display: inline-block;
	}

	#mobile-p2 {
		color: red;
		display: inline-block;
		margin-left: 25px;
	}

	#left {
		display: none;
	}

	#right {
		display: none;
	}
	
	h1 {
		font-size: 50px;
	}
	
	.red {
		background-color: red;
		opacity: 1;
	}

	.white {
		background-color: white;
		opacity: 1;
	}
	
	.winPrompt {
		position: absolute;
		height; 100px;
		width: 180px;
		background-color: red;
		z-index: 10;
	}

}
