body {
	text-align: center;
	background-color: black;
	
}

.space {
	width: 156px;
	height: 150px;
	display: inline-block;
	margin: -2px;
	border-left: none;
	border-bottom: none;
	box-sizing: border-box;
	padding: 4px;
}

.content {
	background-color: #e3e3e3;
	width: 138px;
	height: 138px;
	border-radius: 10px;
	vertical-align: middle;
	opacity: 0.5;
	margin-left:1px;
}

.red {
	background-color: red;
	opacity: 1;
}

.white {
	background-color: white;
	opacity: 1;
}


.mobile-mode {
	display: none;
}

.game-board {
	width: 460px;	
	display: inline-block;
	margin-top: 20px;
	
}

.playing-field {
	
	background-size: 100% 500px;
	background-repeat: no-repeat;
	box-sizing: border box;
}

.player {
	font-size: 20px;
	margin: 0px 80px 0px 80px;;
}

.header {
	display: inline-block;
}

h1 {
	font-size: 65px;
	margin: 1px 0px 1px 0px;
	color: black;
}

#p1 {
	color: red;
}

#p2 {
	color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

@media (max-width: 1060px) {
	.space {
		width: 80px;
		height: 80px;		
		display: inline-block;
		margin: -2px;
        	box-sizing: border-box;
        	padding: 2px;}
	
	.content {
		width: 70px;
		height: 73px;
		background-color: #e3e3e3;	
	}

	.game-board {
		width: 250px;	
		display: inline-block;
	}	

	.player {
		display: none;
	}
	
	.mobile-mode {
		display: block;
	}

	.mobile-players {
		font-size: 20px;
	}
	
	#mobile-p1 {
		color: green;
		display: inline-block;
	}

	#mobile-p2 {
		color: blue;
		display: inline-block;
		margin-left: 25px;
	}

	h1 {
		font-size: 50px;
	}
}
