<!DOCTYPE html>

<html ng-app="ticTacColor">
	<head>
		<meta charset="utf-8">

		<title>An HTML Page</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
	<script src ="http://code.angularjs.org/1.2.0-rc.2/angular-animate.js" type="text/javascript" charset="utf-8"></script>
	<script src ="http://code.angularjs.org/1.2.0-rc.2/angular-route.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/main.js"></script>
	</head>

	<body ng-controller="ticTacController">
		<h1>Tic Tac Color</h1>
		<div class="playing-field">
			<div class="player" id="p1">
				Player 1</br>>
				Wins:
			</div>
			<div class="game-board">
				<div ng-repeat="block in cells">
					<div ng-repeat="cell in block track by $index"  ng-class="{space:true, left:($index%3 == 0), bottom:($parent.$index == 2)}"><div class="content" ng-style="myStyle" ng-click="myStyle={'background-color': changeColor() ? 'blue' : 'green'}; selectBox($parent.$index,$index)"></div>{{player}}</div>
				</div>	
			</div>	
			<div class="player" id="p2">
				Player 2</br>
				Wins:
			</div>
			<div class="mobile-mode">
				<div class="mobile-players">
					<span id="mobile-p1">
						Player 1</br>
					</span>
					<span id="mobile-p2">
						Player 2</br>
					</span>
				</div>
			</div>
		</div>
	</body>
</html>
