<!DOCTYPE html>

<html ng-app="ticTacFighter">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>Tic Tac FIGHTER</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

  <link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.js"></script>
	<script src ="https://code.angularjs.org/1.2.0-rc.2/angular-animate.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/main.js"></script>
	</head>

	<body ng-controller="ticTacController">	 
		<div class="playing-field divider">
      <div class="winPrompt mainboard" ng-show="ifWin()">
        <img class="game-over" src="images/gameover.png"> 
        <input class="reset" type="submit" value="Play Again" ng-click="reset()">
      </div>
      <div class="game-board mainboard">
				<div ng-repeat="block in box.cells">
					<div ng-repeat="spaces in block track by $index"  ng-class="{space:true}"><div class="content" ng-class="isRed($parent.$index,$index)" ng-click="selectBox($parent.$index,$index)"></div>{{player}}</div>
				</div>	
			</div>		
		</div>
		<div class="divider" id="right">
      <div class="right-board" id="background">
        <div id="background-headline">
          <img id="ko" src="images/KO.jpg"> 
        </div>
          <div class="scores" id="scores-p1">1P: {{box.player1_score}}</div>
          <div class="scores" id="scores-p2">2P: {{box.player2_score}}</div>
        <div id="right-board-char">
          <div class="character" ng-class="animate()" id="left-char"></div> 
			    <div class="character" ng-class="animate()" id="right-char"></div>
        </div>
      </div>
      <div class="right-board" id="players-menu">
        <div class="player-stat">
          <div class="headline">ATTACK OPTIONS</div> 
          <div class="right-btns">
            <input class="buttons red" id="up" type="button" value="UP" ng-click="attackUp()"></br>
            <input class="buttons red" id="middle" type="button" value="LEFT" ng-click="attackLeft()">
            <input class="buttons blue" id="middle" type="button" value="RIGHT" ng-click="attackRight()"></br>
            <input class="buttons blue" id="down" type="button" value="DOWN" ng-click="attackDown()">
          </div>
        </div>
        <div class="player-stat">
          <div class="headline">RULES</div>
            <p>A player may choose an Attack Option in place of their turn. When you attack "UP", the pieces get shifted upwards, "DOWN", downwards, and so forth.</p>
        </div>
      </div> 
		</div>
		<div class="mobile-mode">
			<div class="mobile-players">
        <span id="mobile-p1">
          1P: {{box.player1_score}}</br>
					<div class="character" ng-class="animate()" id="left-char"></div>
				</span>
        <span id="mobile-p2">
          2P: {{box.player2_score}}</br>
					<div class="character" ng-class="animate()" id="right-char"></div>
				</span>
      </div>
      <input class="buttons red" type="button" value="UP" ng-click="attackUp()">
      <input class="buttons blue" type="button" value="DOWN" ng-click="attackDown()">
      <input class="buttons red" type="button" value="LEFT" ng-click="attackLeft()">
      <input class="buttons blue" type="button" value="RIGHT" ng-click="attackRight()">
      </div>
		</div>
	</body>
</html>
